h1 {
  text-align: center;
}

.BTC {
  margin-top: 10px;
  margin-bottom: 20px;
  border: solid 3px black;
  border-radius: 10px;
}

.ETH {
  margin-bottom: 20px;
  border: solid 3px black;
  border-radius: 10px;
}